<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/bb84585e-6c41-4a0d-b4fe-dc8732ecc8c8%2Fenvelope_2709.png?v=1566926424317" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <video id="live-video" autoplay></video>
    <hr />
    <button id="start-button">
      Start
    </button>
    <button id="rotate-button">
      Rotate 180
    </button>
    <br />
    <h2 id="text">
      
    </h2>
    <img id="screenshot-image" src="#">

    <!-- bundle all the scripts! thanks to webpack -->
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
